/*debug*/
.red{background: red}
.blue{background: blue}
.black{background: black}

/*lista*/
.list-horizontal ul,
.list-vertical ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.list-vertical ul{
    flex-direction: column;
}
/*dimensoes*/
.encher-vertical{height: inherit}

