/*
Theme Name: Blog Modelo
Author: Paulo Teixeira
Author URI: http://pauloteixeiradev.com.br
Description: Tema Padrão
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: padrão, paulo teixeira desenvolvimento
*/

/*header principal*/
#navegacao{
    width: 100%;
    height: 70px;
    background: #ffffff;
    border-bottom: #eee solid 1px;
}
#navegacao nav ul li{
    margin: 0 20px 0 0;
}
/*list post*/

.list-post{
    width: 100%;
    height: auto;
    padding: 100px 0;
}